*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.font-inter {
    font-family: 'Inter';
    font-optical-sizing: auto;
}

.navbar {
    max-width: 1600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.navbar .menu {
display: flex;
list-style-type: none;
gap: 32px;
align-items: center;
}
.navbar .btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: #ffffff;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#banner {
    background-image: url('../assets/hero-bg.png');
    max-width: 1600px;
    height: 674px;
    margin: 0 auto;
    gap: 40px;
    padding: 70px 120px 134px 120px;
}

.banner-container {
    max-width: 1360px;
    height: 379px;
    /* padding: 0px 200px; */
    margin-top: 39px;
    gap: 32px;
    text-align: center;
}

.banner-heading {
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 12px;
    gap: 6px;
    margin-bottom: 16px; ;
}

.banner-heading p {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: #30B868;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 16px;
}

.banner-text {
    width: 770px;
    height: 168px;
    margin: 0 auto;
    text-align: center;
}

.banner-text h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0%;
    padding-bottom: 16px;
}

span {
    color: #30B868;
}

.description {
    text-align: center;
    margin-top: 20px;
}
.description p{
    width: 1360px;
    height: 60px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.section-heading h2 {
  margin-bottom: 30px;
  font-size: 35px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px 16px;
}
.card-1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 251px;
    height: 52px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 16px 16px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}
.card-1 p {
    width: 189px;
    height: 19px;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;

}

.card-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 198px;
    height: 52px;
    background-color: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 16px 16px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}
