*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.font-inter {
    font-family: 'Inter';
    font-optical-sizing: auto;
}

.navbar {
    max-width: 1600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.navbar .menu {
display: flex;
list-style-type: none;
gap: 32px;
align-items: center;
}
.btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: #ffffff;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background-color: #4a5863;
    transform: scale(1.25);
}

/* Header-section */

#banner {
    background-image: url('hero-bg.png');
    width: 1600px;
    height: 674px;
    margin: 0 auto;
    gap: 40px;
    padding: 70px 120px 134px 120px;
}

.banner-container {
    max-width: 1360px;
    height: 379px;
    margin-top: 39px;
    gap: 32px;
    text-align: center;
}

.banner-heading {
    background-color: #FFFFFF;
    width: 229px;
    height: 35px;
    border-radius: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 8px 12px;
    gap: 6px;
    margin-bottom: 16px; ;
}

.banner-heading p {
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    color: #30B868;
    text-align: center;
    padding-top: 5px;
    margin-bottom: 16px;
}

.banner-text {
    width: 770px;
    height: 168px;
    margin: 0 auto;
    text-align: center;
}

.banner-text h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0%;
    padding-bottom: 16px;
}

span {
    color: #30B868;
}

.description {
    text-align: center;
    margin-top: 20px;
}
.description p{
    width: 1360px;
    height: 60px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.section-heading h2 {
  margin-bottom: 30px;
  font-size: 35px;
}
.section-heading p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
  color: #757575;
}

.banner-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 12px 16px;
}
.card-1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 251px;
    height: 52px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 16px 16px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}

.card-1:hover {
    background-color: #757575;
    transform: scale(1.15)
}

.card-1 p {
    width: 189px;
    height: 19px;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;

}

.card-2 {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 198px;
    height: 52px;
    background-color: none;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    padding: 16px 16px;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}

.card-2:hover {
    background-color: #757575;
    transform: scale(1.15)
}

/* notes-section */

 #notes {
    width: 1600px;
    height: 448px;
    padding: 120px 120px 120px 120px;
    gap: 44px;
    align-items: center;
 }
 #notes.notes-heading{
    width: 1360px;
 }

.notes-heading h2{
    height: 116px;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    color: #001931;
    letter-spacing: 0%;
 }

 .notes-heading p {
    height: 20px;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    color: #001931;
    letter-spacing: 0%;
 }

.card-containter{
    width: 1360px;
    height: 300px;
    gap: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 0 auto;
    align-items: center;
}

.cards {
    width: 322px;
    height: 300px;
    border-radius: 8px;
    padding: 0px 24px 0px 24px;
    gap: 16px;
    align-items: center;
    box-shadow: 8px 0px 0px 0px #0000000F;
}

.cards img {
    width: 60px;
    height: 60px;
    background-color: hsl(10, 75%, 52%);
    border-radius: 100px;
    margin: 40px 120px 24px;
}

.cards h3 {
    width: 274px;
    height: 29px;
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
    color: #001931;
    letter-spacing: 0%;
     margin: 30px 24px;
}

.cards p {
    width: 274px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    color: #627382;
    letter-spacing: 0%;
}

/* brain-section */

#brain {
    width: 1600px;
    height: 840px;
    padding: 120px;
    gap: 40px;
}

#brain .brain-container {
    width: 1300px;
    height: 600px;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center
}

.brain-photo img {
    width: 600px;
    height: 600px;
    margin: 0 40px 0 0;
    border-radius: 12px;
}

.brain-info .p1 {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color:#469165;
    margin-bottom: 16px;
}

.brain-info h2 {
    height: 116px;
    font-size: 48px;
    font-weight: 700px;
    color: #001931;
    margin-bottom: 16px;
}

.brain-info p {
    height: 60px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 40px;
}

.p-list .list {
    height: 20px;
    margin-bottom: 16px;
}


/* chlanges-body */

#chlanges {
    width: 1600px;
    height: 506px;
    padding: 2px 120px 120px 120px;
    margin-bottom: 40px;
    align-items: center;
}

#chlanges .chlanges-container {
    height: 384px;
    border-radius: 12px;
    padding: 80px 40px;
    text-align: center;

}

.chlanges-heading {
    margin: 80px 40px 24px;
}

.chlanges-heading h2 {
    height: 48px;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #001931;
}

.chlanges-heading p {
    line-height: 24px;
    font-size: 16px;
    color: #627382;
}


.btn-margin {
    margin-bottom: 16px;
}

.chlanges-body p {
    list-style: 20px;
    font-size: 16px;
    color: #627382;
}

/* Footer style */

#footer-container {
    width: 1600px;
    height: 348px;
    padding: 120px 120px 30px 120px;
    background-color: #001931;
}

.footer-item {
    height: 64px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.footer-link p {
    width: 113px;
    color: #FFFFFF;
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 16px;
}

.footer-link button {
    gap: 16px;
    border-radius: 100px;
}

hr {
    width: 1360px;
    /* border: 1px;
    height: 1px; */
    Color: Gray-Light
}

.author p {
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FAFAFA;
    margin-top: 30px;

}