*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.font-inter {
    font-family: 'Inter';
    font-optical-sizing: auto;
}

.navbar {
    max-width: 1600px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.navbar .menu {
display: flex;
list-style-type: none;
gap: 32px;
align-items: center;
}
.navbar .btn {
    background-color: #469165;
    border: none;
    border-radius: 4px;
    padding: 12px 16px;
    color: #ffffff;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
